.head_content {
  width: 100%;
  height: 250px;
}

#banner_aux{
  background: url("../assets/media/banner_Internet.jpg") no-repeat center ;
  background-size: cover;
}

#banner_Introduccion{
  background: url("../assets/media/banner_Introduccion.jpg") no-repeat center ;
  background-size: cover;
}

#banner_Internet{
  background: url("../assets/media/banner_Internet.jpg") no-repeat center ;
  background-size: cover;
}

#banner_Sensores{
  background: url("../assets/media/banner_Sensores.png") no-repeat center ;
  background-size: cover;
}

#banner_Nube{
  background: url("../assets/media/banner_Sensores.png") no-repeat center ;
  background-size: cover;
}

#banner_iot{
  background: url("../assets/media/banner_iot.jpg") no-repeat center ;
  background-size: cover;
}


.head_content h1{
  color: #fff;
  width: fit-content;
  margin-left: 60px;
  padding: 10px;
  border-radius: 10px;
}

#header_aux{
  background-color:#608801;
}

#header_Introduccion{
  background-color:#608801;
}

#header_Internet{
  background-color:#000f63;
}

#header_Sensores{
  background-color:#016888;
}

#header_Nube{
  background-color:#016888;
}

#header_iot{
  background-color:#016888;
}

.atribution{
  color: #fff;
  margin-left: 70px ;
}
.content_text{
  margin-top: 3%;
  margin-left: 17%;
  margin-right: 17%
}
.content_text p{
  font-size: 22px;
}
.content_text img{
  width: 100%;
}
.nav_buttons{
  margin-right: 10%;
  padding-right: 10px;
  padding-left: 10px;
}
.nav_buttons button{
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
}
  #next_button{
    background-color: #608801;
  }
  #back_button{
    background-color: #22577A;
  }